@use "../mixins";
@use "../variables";

/********** 
17. galery Page and Section Styles
**********/

.galery {
  padding-bottom: variables.$base-padding * 9.3;
  @include mixins.media-breakpoint-down-xxl {
    padding-bottom: variables.$base-padding * 6;
  }
  @include mixins.media-breakpoint-down-xl {
    padding-bottom: variables.$base-padding * 4;
  }
  @include mixins.media-breakpoint-down-md {
    padding-bottom: variables.$base-padding * 3.1;
  }
  &-items {
    display: flex;
    margin-bottom: variables.$base-margin * 5;
    @include mixins.media-breakpoint-down-lg {
      margin-bottom: variables.$base-margin * 3.1;
    }
    @include mixins.media-breakpoint-down-md {
      display: block;
    }
  }
  &-item {
    .item {
      img {
        max-width: 100%;
      }
    }
  }
  &-content {
    p {
      font-size: 22px;
      font-weight: 500;
      line-height: 36.3px;
      margin-bottom: 0;
    }
  }
}
